h1{color: green;}
*{border: 1px solid red;}
*{
    -webkit-box-sizing: border-box;
    moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing: border-box;
}
.row{
    width: 100%;
}
.col-1{
    width: 10.33%;
}
body {
    background-color: #00cae4;
}